# Aufgabe
Bearbeitet die Aufgabenstellung aus Aufgabe 1a.1, aber setzt euren Vorverarbeitungsprozess mit Hilfe von
sklearn-Pipelines um. Achtet dabei (a) auf die Reihenfolge der Pipeline-Schritte und (b) darauf, dass ihr die
Pipelines an den richtigen Daten fittet.

In [143]:
import pandas as pd
import seaborn as sns
from sklearn.pipeline import Pipeline 
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import train_test_split

In [120]:
data = pd.read_csv("../../data/socr.csv")

In [121]:
data.head(10)

,Team = BAL,Team = CWS,Team = ANA,Team = BOS,Team = CLE,Team = OAK,Team = NYY,Team = DET,Team = SEA,Team = TB,...,Position = Second_Baseman,Position = Shortstop,Position = Third_Baseman,Position = Outfielder,Position = Designated_Hitter,Position = Starting_Pitcher,Position = Relief_Pitcher,Height(inches),Weight(pounds),Age
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,74,180.0,22.99
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,74,215.0,34.69
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,72,210.0,30.78
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,72,210.0,35.43
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,73,188.0,35.71
5,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,69,176.0,29.39
6,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,69,209.0,30.77
7,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,71,200.0,35.07
8,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,76,231.0,30.19
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,71,180.0,27.05

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Team = BAL                    1034 non-null   int64
 1   Team = CWS                    1034 non-null   int64
 2   Team = ANA                    1034 non-null   int64
 3   Team = BOS                    1034 non-null   int64
 4   Team = CLE                    1034 non-null   int64
 5   Team = OAK                    1034 non-null   int64
 6   Team = NYY                    1034 non-null   int64
 7   Team = DET                    1034 non-null   int64
 8   Team = SEA                    1034 non-null   int64
 9   Team = TB                     1034 non-null   int64
 10  Team = KC                     1034 non-null   int64
 11  Team = TEX                    1034 non-null   int64
 12  Team = TOR                    1034 non-null   int64
 13  Team = MIN                    1034 non-null   int64
 14  Team = ATL                    1034 non-null   int64
 15  Team = CHC                    1034 non-null   int64
 16  Team = ARZ                    1034 non-null   int64
 17  Team = FLA                    1034 non-null   int64
 18  Team = CIN                    1034 non-null   int64
 19  Team = COL                    1034 non-null   int64
 20  Team = NYM                    1034 non-null   int64
 21  Team = HOU                    1034 non-null   int64
 22  Team = LA                     1034 non-null   int64
 23  Team = PHI                    1034 non-null   int64
 24  Team = MLW                    1034 non-null   int64
 25  Team = SD                     1034 non-null   int64
 26  Team = WAS                    1034 non-null   int64
 27  Team = PIT                    1034 non-null   int64
 28  Team = SF                     1034 non-null   int64
 29  Team = STL                    1034 non-null   int64
 30  Position = Catcher            1034 non-null   int64
 31  Position = First_Baseman      1034 non-null   int64
 32  Position = Second_Baseman     1034 non-null   int64
 33  Position = Shortstop          1034 non-null   int64
 34  Position = Third_Baseman      1034 non-null   int64
 35  Position = Outfielder         1034 non-null   int64
 36  Position = Designated_Hitter  1034 non-null   int64
 37  Position = Starting_Pitcher   1034 non-null   int64
 38  Position = Relief_Pitcher     1034 non-null   int64
 39  Height(inches)                1034 non-null   int64
 40  Weight(pounds)                1033 non-null   float64
 41  Age                           1034 non-null   float64
dtypes: float64(2), int64(40)
memory usage: 339.4 KB

In [123]:
data.isna().any()

Team = BAL                      False
Team = CWS                      False
Team = ANA                      False
Team = BOS                      False
Team = CLE                      False
Team = OAK                      False
Team = NYY                      False
Team = DET                      False
Team = SEA                      False
Team = TB                       False
Team = KC                       False
Team = TEX                      False
Team = TOR                      False
Team = MIN                      False
Team = ATL                      False
Team = CHC                      False
Team = ARZ                      False
Team = FLA                      False
Team = CIN                      False
Team = COL                      False
Team = NYM                      False
Team = HOU                      False
Team = LA                       False
Team = PHI                      False
Team = MLW                      False
Team = SD                       False
Team = WAS                      False
Team = PIT                      False
Team = SF                       False
Team = STL                      False
Position = Catcher              False
Position = First_Baseman        False
Position = Second_Baseman       False
Position = Shortstop            False
Position = Third_Baseman        False
Position = Outfielder           False
Position = Designated_Hitter    False
Position = Starting_Pitcher     False
Position = Relief_Pitcher       False
Height(inches)                  False
Weight(pounds)                   True
Age                             False
dtype: bool

In [124]:
data['Weight(pounds)'].mean()

201.6892545982575

In [125]:
# fill null values 
data['Weight(pounds)'] = data['Weight(pounds)'].fillna(data['Weight(pounds)'].mean())

In [126]:
data['Weight(pounds)'].isnull().sum()

0

In [127]:
list(data.columns)

['Team = BAL',
 'Team = CWS',
 'Team = ANA',
 'Team = BOS',
 'Team = CLE',
 'Team = OAK',
 'Team = NYY',
 'Team = DET',
 'Team = SEA',
 'Team = TB',
 'Team = KC',
 'Team = TEX',
 'Team = TOR',
 'Team = MIN',
 'Team = ATL',
 'Team = CHC',
 'Team = ARZ',
 'Team = FLA',
 'Team = CIN',
 'Team = COL',
 'Team = NYM',
 'Team = HOU',
 'Team = LA',
 'Team = PHI',
 'Team = MLW',
 'Team = SD',
 'Team = WAS',
 'Team = PIT',
 'Team = SF',
 'Team = STL',
 'Position = Catcher',
 'Position = First_Baseman',
 'Position = Second_Baseman',
 'Position = Shortstop',
 'Position = Third_Baseman',
 'Position = Outfielder',
 'Position = Designated_Hitter',
 'Position = Starting_Pitcher',
 'Position = Relief_Pitcher',
 'Height(inches)',
 'Weight(pounds)',
 'Age ']

In [128]:
# Custom transformer to calculate the BMI from weight and height
class BMICalculator:
    def __init__(self):
        pass
    
    def fit(self, X, y = None):
        return self # because we do not need to fit the data we can simply return it

    def transform(self, X, y = None):
        # create new BMI column and calculate it
        # Formula: 703 x weight (lbs) / [height (in)]2
        weight = X['Weight(pounds)'].astype(int)
        height = X['Height(inches)'].astype(int)
        bmi = 730 * weight / (height * height)
        X.loc[:,'BMI'] = bmi
        return X

In [129]:
# run data through pipeline
pipeline = Pipeline(steps=[
    ("calculate bmi", BMICalculator())
])

In [130]:
piped_data = pipeline.transform(data)

In [131]:
# drop redundant column 
piped_data = piped_data.drop('Height(inches)', axis = 1)
piped_data = piped_data.drop('Weight(pounds)', axis = 1)

In [132]:
piped_data.head()

,Team = BAL,Team = CWS,Team = ANA,Team = BOS,Team = CLE,Team = OAK,Team = NYY,Team = DET,Team = SEA,Team = TB,...,Position = First_Baseman,Position = Second_Baseman,Position = Shortstop,Position = Third_Baseman,Position = Outfielder,Position = Designated_Hitter,Position = Starting_Pitcher,Position = Relief_Pitcher,Age,BMI
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22.99,23.995617
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,34.69,28.661432
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30.78,29.571759
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,35.43,29.571759
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,35.71,25.753425

## Create Test- and Trainingdata

In [133]:
input_features = [
    'Team = BAL',
    'Team = CWS',
    'Team = ANA',
    'Team = BOS',
    'Team = CLE',
    'Team = OAK',
    'Team = NYY',
    'Team = DET',
    'Team = SEA',
    'Team = TB',
    'Team = KC',
    'Team = TEX',
    'Team = TOR',
    'Team = MIN',
    'Team = ATL',
    'Team = CHC',
    'Team = ARZ',
    'Team = FLA',
    'Team = CIN',
    'Team = COL',
    'Team = NYM',
    'Team = HOU',
    'Team = LA',
    'Team = PHI',
    'Team = MLW',
    'Team = SD',
    'Team = WAS',
    'Team = PIT',
    'Team = SF',
    'Team = STL',
    'Position = Catcher',
    'Position = First_Baseman',
    'Position = Second_Baseman',
    'Position = Shortstop',
    'Position = Third_Baseman',
    'Position = Outfielder',
    'Position = Designated_Hitter',
    'Position = Starting_Pitcher',
    'Position = Relief_Pitcher',
    'Age '
]

output_features = [
    'BMI'
]

In [134]:
X = piped_data[input_features]
y = piped_data[output_features]

In [135]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 123, test_size = 0.2)

In [136]:
print(X_train.shape[0], X_test.shape[0], y_train.shape[0], y_test.shape[0])

827 207 827 207

# Creating a model

In [137]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
print(lr_model.intercept_)
print(lr_model.coef_)

[24.06278635]
[[-0.42046265  0.43991178 -0.06913982 -0.20553585 -0.09892019  0.17653301
  -0.08508579  0.58957035 -0.29362018 -0.05261622 -0.40658592 -0.14842502
  -0.21490573  0.48571268 -0.2622726  -0.05994087  1.24465988  0.09159162
   0.18218342 -0.90016376 -0.10207144 -0.37773672  0.73366933 -0.88080187
   0.54627814  0.20968719 -0.6602677   0.7958643   0.19067016 -0.44777955
   0.72952592  0.65763955 -0.99608411 -1.77096852 -0.10774685 -0.08183039
   2.29439249 -0.40590295 -0.31902514  0.1153331 ]]

In [138]:
prediction = lr_model.predict(X_test)

In [139]:
lr_model.score(X_test, y_test)

0.043259539806098535

# Improvements
## Lasso Regression

In [158]:
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)
print(lasso_model.intercept_)
print(lasso_model.coef_)

[23.63657244]
[-0.          0.          0.         -0.          0.          0.
  0.          0.         -0.         -0.         -0.         -0.
 -0.          0.         -0.         -0.          0.          0.
  0.         -0.         -0.         -0.          0.         -0.
  0.          0.         -0.          0.          0.         -0.
  0.          0.         -0.         -0.          0.          0.
  0.         -0.         -0.          0.12185157]

In [159]:
lasso_prediction = lasso_model.predict(X_test)
lasso_model.score(X_test, y_test)

0.054244020682513994